
.Header{
  background: #00336A;
  padding: 25px;
  height: 100%;
}
h1{
  color: #F2B514;
  text-align: center;
}
.user{
  background: #8098B5;
  display: flex;
  border-style: solid;
  color: #F2B514;
  border-color: #000;
}
.user-image{

}
.user-name{
  float: left;
  margin-left: 100px;

}
.user-score{
  float: right;
  padding-left: 26px;
  margin-left: 100px;

}
.user-image{
  float: left;
  width: 65px;
  height: 65px;
  padding-right: 25px;
  padding-left: 50px;
}

ul,li{
  list-style: none;
}
