
.application{
	background-color: gray;
	width: 700px;
	border-radius: 25px;
	margin-left: 100px;



}

.board-header{
	background-color: #5496BF;
	text-align: center;
	border-radius: 25px;

}
.player{
	display: flex;
	border-style: solid;
	border-radius: 25px


}
.player-name{


	text-align: center;
	padding-left: 350px;
	position: absolute;
}

.counter{
	display: flex;
}
button{
    width:50px;
    height: 50px;
    position: relative;
    display: block;

}
.increment{
	background: #EBD35D;

}
.decrement{
	margin-left: 25px;
	background: #D9918B;
}
.score{
	padding: 10px;
}
